<%- include('partials/header', { title: "Login" }) %> <% if (error) { %>
<div class="error"><%= error %></div>
<% } %>
<h1>Login</h1>

<form action="/login" method="POST">
  <div class="form-input-container">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />
  </div>
  <div class="form-input-container">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
  </div>
  <span class="index-button-container">
    <button onclick="window.location.href='/'">Go Back</button>
    <button onclick="window.location.href='/login'">Login</button>
  </span>
</form>
<%- include('partials/footer') %>
