<%- include('partials/header', { title: "Sign Up" }) %> <% if (error) { %>
<div class="error"><%= error %></div>
<% } %>
<h1>Sign Up</h1>

<form action="/signup" method="POST">
  <div class="form-input-container">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" required />
  </div>
  <div class="form-input-container">
    <label for="username">Username:</label>
    <input type="text" name="username" id="username" required />
  </div>
  <div class="form-input-container">
    <label for="password">Password:</label>
    <input type="password" name="password" id="password" required />
  </div>
  <span class="index-button-container">
    <button onclick="window.location.href='/'">Go Back</button>
    <button onclick="window.location.href='/landing'">Sign Up</button>
  </span>
</form>
<%- include('partials/footer') %>
